<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rgbcontrol">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/color_wheel"
        android:label="@string/app_name"
        android:roundIcon="@drawable/color_wheel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.rgbcontrol.CarActivity"></activity>
        <activity android:name="com.example.rgbcontrol.RGBActivity" />
        <activity android:name="com.example.rgbcontrol.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>